{% extends 'base.html' %} {% block content %}


<div class="container-fluid">

    <h1>Completed Tasks</h1>
    <table style="width: 50%; margin: auto;" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.taskTitle }}</td>
                <td>{{ task.taskDescription }}</td>
                <td><a href="{% url 'delete_task' task.pk %}" class="btn btn-danger btn-sm">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}