{% extends 'base.html' %} {% block content %}
<div class="container-fluid">

    <h1>Tasks</h1>
    <table style="width: 50%; margin: auto;" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            {% if not task.is_completed %} <tr>
                <td>{{ task.taskTitle }}</td>
                <td>{{ task.taskDescription }}</td>
                <td>Incomplete</td>
                <td>
                    <a href="{% url 'delete_task' task.pk %}" class="btn btn-danger btn-sm">Delete</a>
                    <a href="{% url 'edit_task' task.pk %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'mark_completed' task.pk %}" class="btn btn-success btn-sm">Complete</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}